<p>
  Update Password
</p>
<form [formGroup]="form" (ngSubmit)="update()">

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Password" formControlName="password">
  </mat-form-field>
  <mat-error *ngIf="password.hasError('required') && password.dirty">
    Password is required.
  </mat-error>

  
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Confirm password" formControlName="confirmPassword">
  </mat-form-field>
  <mat-error *ngIf="confirmPassword.hasError('required') && confirmPassword.dirty">
    Confirm password is required and must be identical.
  </mat-error>
  <button type="submit" raised-button color="warn">Change</button>
</form>